body {
  padding-top: 5px;
  background: #F0F8FF;
}

section {
  overflow:auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: gray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
nav {
  width: 100%;
}

nav navbar {
  width: 100%;
  
}

nav navbar ul {
  display: flex;
  justify-content: space-between;
	width: 100%;
	float: left;
	margin: 0 0 3em 0;
	padding: 0;
	list-style: none;
	background: #00BFFF;
	}
nav navbar ul li {
	float: left;
	display: block;
	height: 100%;
  overflow:auto;
	}
	
nav navbar ul li a {
  text-decoration:none;
  padding: 0;
  display: block;
  height: 100%;
  color:#eee;
  float:left;
  text-align:center;
  border-left:1px solid #fff;
}
	
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #aaa;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid gray;
  color: gray;
  a {
    color: gray;
    &:hover {
      color: gray;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}